.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
  h2 {
    font-size: 5rem;
  }
  a {
    padding-left: 46px;
    font-size: 1.4rem;
  }
}

.margin {
  margin-top: 20px;
}

.marginLeft {
  margin-left: 65px;
}
